---
import Page from "../components/Page.astro";
---

<Page title="Andre's Portfolio">

 
 <h1 data-aos="fade-in">Welcome to My Portfolio!</h1>

  <h2>My Amazing Projects</h2>
  


   <h3>About Me</h3>
 
I’m Andre Pace. I have a passion for playing music, and sports. When I’m not playing music or having fun playing sports, I focus on doing my best in school studying and gaining more understanding. I recently took up computer science and it quickly become one of my favorite classes and even somthing I might think about for collage. For this class I've done ... Number of projects that I am proud of 
Lorem ipsum odor amet, consectetuer adipiscing elit. Amet parturient id amet volutpat justo. Feugiat mi vitae massa pellentesque, laoreet inceptos porta. Integer ante lacus senectus habitant ac. Curabitur mollis eget duis ad ac libero rutrum sagittis amet. Mi est habitasse aptent sed, nisi adipiscing. Mollis lacinia nisi eros pulvinar molestie commodo commodo. Primis amet consectetur cubilia mollis quisque cursus molestie. Sem donec sem hendrerit, et proin maximus mauris posuere penatibus.

Elit dolor ac efficitur ad nibh odio elementum. Ridiculus ullamcorper dignissim hendrerit ultricies et vel facilisis. Vehicula dolor mattis suspendisse viverra efficitur eu ad. Et urna venenatis amet suscipit cursus fermentum sollicitudin rutrum sodales. Ac aenean habitasse accumsan congue sed purus sodales mauris. Tellus litora suspendisse integer quis torquent sem enim. Adipiscing nulla montes inceptos vivamus libero montes lacus. Tristique hendrerit ad ultricies; consectetur semper adipiscing duis.

Montes justo lacus rutrum nascetur per augue pharetra torquent. Ultricies quis convallis donec nullam cubilia dignissim. Conubia porta nec nullam nulla dis natoque. Iaculis laoreet vestibulum suspendisse duis dolor. Litora ultrices maximus vestibulum odio volutpat. Curabitur cubilia dolor nascetur fringilla suscipit vulputate lacinia eget.

  <p></p>
</Page>



  <nav>

    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
    <nav> 
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Portfolio Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
  </nav>

  
<nav>
<nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          3 Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          4 Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav> 

  
  <nav>
  <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          5 Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          6 Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>

  

  <nav>
  <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          8 Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          7 Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>

  

  

  
 