---
import Page from "../components/Page.astro";
---
<style>
  body {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c5069763-9098-4808-b222-a0089bb5786d/d9abowo-16b9a7b3-2fa8-4990-bbb6-deaa1b79ff6f.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2M1MDY5NzYzLTkwOTgtNDgwOC1iMjIyLWEwMDg5YmI1Nzg2ZFwvZDlhYm93by0xNmI5YTdiMy0yZmE4LTQ5OTAtYmJiNi1kZWFhMWI3OWZmNmYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.bB7AQ604cOvqK4QFjApkEUxw1A3KRkfXPH6zxMytwZU');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
  }
</style>

<Page title="Andre's Portfolio">






<h1 data-aos="flip-left" data-aos-duration="1000" data-aos-delay="200">
  Welcome to My Portfolio!
 <h6 class="animate__animated animate__">
   
<b style="color: #E5E6E4; font-weight: bold; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);">
   <h1 class="Banana">About Me</h1


<b style="color: #E5E6E4; font-weight: bold; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);">
I’m Andre Pace. I have a passion for playing music, and sports. When I’m not playing music or having fun playing sports, I focus on doing my best in school studying and gaining more understanding. I recently took up computer science and it quickly become one of my favorite classes and even somthing I might think about for collage. For this class I've done ...  projects that I am proud of 
<b/>

</h3>

  <p></p>
 

</Page>

  <h2 data-aos="fade-in" >My Amazing Projects</h2>

  <nav>
  <nav>
    <ul>
      <li><h6 class="animate__animated animate__rubberBand">
        <a href="./projects/binary-search/"> 
          Binary Search Project
        </a>
      </li>
      <li>
  </nav>
    <ul>
      <li>
      <h6 class="animate__animated animate__tada">
        <a class="apple" href="./projects/Portfolio-Project/"> 
          Portfolio Project
        </a>
      </li>
      <li>
  </nav>
  
  <nav>
  
    <ul>
      <li>
       <h6 class="animate__animated animate__jello">
        <a class="apple" href="./projects/Mini-Turtle-Project/"> 
          Mini-Turtle-Project
        </a>
      </li>
      <li> 
  </nav>
   <nav>
    <ul>
      <li>
       <h6 class="animate__animated animate__jello">
        <a class="apple" href="./projects/Acknowledgement-Page/"> 
          Acknowledgement Page
        </a>
      </li>
      <li> 
  </nav>
   
  
  
<p>
  &copy; 2024 Andre Pace. 
  All Rights Reserved.
</p>



</Pages>
  

  

  
  
 