---
import Project from "../../components/Project.astro"
---

<Project
  title="Filter Project"
  assignment="Create filters out of options given to change the images looks"
>
  <p>For this project we were given diffrent images and challenge 0-4, each challange got harder as we went on and challenge 4 the ULTAMATE CHALLANGE BEING HE HARDEST, ALL INVOLFING DIFFRENT FILTER EFFECTS. !</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://iacs-cs.github.io/image-filter-project-los-jefes/" 
    title="Filter Project"
    width="100%"
    height="800px"
  ></iframe>

</Project>
