---
import Project from "../../components/Project.astro"
---

<Project
  title="Mini-Turtle Project"
  assignment= "The assignment is to create a simple drawing that the user can customize with commands. In addition to creating a working program that uses user input to customize a drawing as output, we are also working to make sure we understand how to use procedures and parameters in this project, which we also call functions and arguments."
>
  <p>For this project I worked alone for the whole thing. It took me a day to actually get some progress, but I really liked it and enjoyed working on this project. I think this was a good project for me to learn more about coding!</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
   <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="js,result" data-slug-hash="mybdeYB" data-pen-title="Sword" data-user="Andrecoder1234" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/Andrecoder1234/pen/mybdeYB">
  Sword</a> by Andrecoder1234 (<a href="https://codepen.io/Andrecoder1234">@Andrecoder1234</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
</Project>