---
import Project from "../../components/Project.astro"
---


<Project
  title="Portfolio Project"
  assignment="Create a portfolio that holds all current published portfolio work where we can highlight our coding"
>
  <p>This project was really fun (once i got the hang of it), it took a while to figuer everything out but after a while everything started fitting in to place!</p>

   project :-) -->
  <iframe 
    src="https://silver-lamp-4jw74wqvgwv5h756w-4321.app.github.dev/" 
    title="Personality Quiz"
    width="100%"
    height="800px"
  ></iframe>

</Project>